.library-body {
  width: 94%;
  height: 88%;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  /* whenever there are too many playlsits it will add scroll feature */
  overflow-y: auto;
  justify-content: space-between;
  outline: 1px solid blue;
}

.playlist-card {
  width: 15%;
  height: 35%;
  border-radius: 20px;
  border: 1px solid rgba(54, 69, 98, 0.18);
  background-color: rgb(30, 42, 62);
  background: linear-gradient(
    75deg,
    rgb(40, 58, 88) 0%,
    rgba(54, 69, 98, 0) 100%
  );
  padding: 1%;
  margin-bottom: 2%;
}

.playlist-image {
  width: 100%;
  border-radius: 15px;
}