.sidebar-container {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.profile-img {
  width: 55%;
  height: 60px;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 415px) {
  .sidebar-container {
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
    outline: 2px solid teal;
    height: 100px;
    flex-direction: row;
  }

  .profile-img {
    width: 50px;
  }
}