/* Styling of the audioplayer, this handles the sizes of the left and right bodies on the Player page
in the left body, and the styling of the track info in the right body of the audio Player */

.player-body {
  width: 100%;
  height: 40%;
  margin: 3% 0%;
}

.player-left-body {
  width: 37%
}

.player-right-body {
  width: 63%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.song-title {
  text-align: center;
  font-size: 58px;
  font-weight: bold;
  margin: 0px;
  color: #C4D0E3;
  overflow: hidden;
  text-overflow: ellipsis;
  /* This property is used to create a block-level element that behaves like an inline-level element and allows for the truncation of text. */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* line limit */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.song-artist {
  color: #9aa9c2;
  font-size: 14px;
  font-weight: 500;
}

.player-right-body-bottom {
  position: relative;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.song-duration {
  width: 50%;
  justify-content: space-between;
  /* margin-bottom: 10px; */
  align-items: center;
}

.duration {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  color: #C4D0E3;
}

.error-wrapper {
  display: absolute;
  transform: translateY(10px);
}

.error-message {
  margin: 0;
  padding: 0;
  color: #C4D0E3;
}



